body {
    background: linear-gradient(to top, white,  #ADD8E6);
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    text-align: center;
}

#network-container {
    border: 1px solid #ccc;
}

.graph-container {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin-right: 2%;
}

#graphs-container {
    display: flex;
    justify-content: space-between;
}

svg {
    width: 100%;
    height: 400px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 14px;
}

table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    text-align: center;
}




h1, h3 {
    color: #333;
}
label {
    font-weight: bold;
}
input {
    margin: 5px;
}
button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

